extends layout

block content
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Domotica
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  body.bg-fixed.bg-1
    .main-container
      .main.wrapper.clearfix
        header#header
          #logo
            h2
              | Sistema Domotico
            h4
              | Seguridad / Control
        #tab-container.tab-container
          ul.etabs
            li#tab-about.tab
              a(href='#about')
                i.icon-user
                span  Inicio
            li.tab
              a(href='#monitoreo')
                i.icon-file-text
                span  Monitoreo
            li.tab
              a(href='#grafica')
                i.icon-heart
                span  Grafica
            li.tab
              a(href='#seguridad')
                i.icon-envelope
                span  Seguridad
          #tab-data-wrap
            #about
              section.clearfix
                .g2
                  .photo
                    img(src='/images/home.jpg', alt='Sunny Luthra')
                  .info
                    h2
                      | Sistema Domotico
                    h4
                      | Seguridad / Control
                    p
                      | Con la realización del sistema de control domótico para los habitantes de la vivienda se le asegura un aumento del confort, de la seguridad, del ahorro energético y de las facilidades de comunicación, haciendo uso de las nuevas tecnologías de comunicación y teléfonos inteligentes.
                .g1
                  .main-links.sidebar
                    ul
                      li
                        a(href='#monitoreo') Monitoreo
                      li
                        a(href='#grafica') Grafica
                      li
                        a(href='#seguridad') Seguridad
                      li
                        a(href='#features') Features
                .break
                .contact-info
                  .g1
                    .item-box.clearfix
                      i.icon-envelope
                      .item-data
                        h7
                          a(href='mailto:shanon.4ever@gmail.com') shanon.4ever@gmail.com
                        p Email Address
                  .g1
                    .item-box.clearfix
                      i.icon-facebook
                      .item-data
                        h7
                          a(href='http://fb.me/alfredo.solisq') alfredo solis
                        p Facebook Profile
                  .g1
                    .item-box.clearfix
                      i.icon-twitter
                      .item-data
                        h7
                          a(href='http://twitter.com/') @asq
                        p Twitter Handle
            #monitoreo
              section.clearfix
                .g2
                  h3
                    | Sensores
                  ul.no-list.work
                    li
                      h5
                        | Temperatura y Humedad
                      span.label.label-info CN 22°c-70%
                      p
                      div
                        h7
                          | Temperatura
                          #temp.temp(style='display: inline;')
                           i#baja.flaticon-baja(style='display: none;')
                           i#normal.flaticon-normal(style='display: none;')
                           i#alta.flaticon-alta(style='display: none;')
                        span#valor(style='position: absolute;')
                        .break
                        h7
                          | Humedad
                        progress#barraH(value='0', max='100' style='display: none;')
                        i#humedad.flaticon-humedad
                        span#valorH(style='position: absolute;')
                    li
                      h5
                        | Concentrasion de gas
                      span.label.label-info CN menor a 30
                      p
                        #chartdiv
                      #rData
                        .IO_boxc
                          fieldset.StatusField
                            legend.FieldLabelText Estado
                            p
                              | Alarma Gas:
                              span.switches ...
                            p
                              | LLuvia:
                              span.switches ...
                .g1
                  .sidebar
                    h3
                      | Control
                    h5
                      | On/Off
                    #sData
                      .IO_boxc
                        fieldset.SwitchesField
                          #btnHolder
                            label.switch
                              #neon1.neon(style='display: none;', onclick="onoff('on1')", name='on1')
                               h8 on
                              #inset1.inset(style='display: block;', onclick="onoff('off1')", name='off1')
                               h8 off
                              span.skrif Luces Sala
                              #neon2.neon(style='display: none;', onclick="onoff('on2')", name='on2')
                               h8 on
                              #inset2.inset(style='display: block;', onclick="onoff('off2')", name='off2')
                               h8 off
                              span.skrif Luces Patio
                              #neon3.neon(style='display: none;', onclick="onoff('on3')", name='on3')
                               h8 on
                              #inset3.inset(style='display: block;', onclick="onoff('off3')", name='off3')
                               h8 off
                              span.skrif Luces cocina
                              #neon4.neon(style='display: none;', onclick="onoff('on4')", name='on4')
                               h8 on
                              #inset4.inset(style='display: block;', onclick="onoff('off4')", name='off4')
                               h8 off
                              span.skrif Luces pasillo
            #grafica
              section.clearfix

                  #chart(style='width:100%; height:400px;')
                  script.
                    // Creo un WebSocket.
                    var socket=io.connect('http://192.168.1.111:4000');
                    // Creo un nuevo objeto 'Chart' para mostrar grafica del la temperatura
                    var chart;
                    chart = new Highcharts.Chart({
                    chart: {
                    renderTo: 'chart',
                    defaultSeriesType: 'spline',
                    events: {
                    load: function() {
                    // Cada vez que reciba un valor desde el socket, lo meto en la gráfica
                    socket.on('temperatureUpdate', function (time, data) {
                    var series = chart.series[0];
                    series.addPoint([time, data]);
                    });
                    }
                    }
                    },
                    rangeSelector : {
                    selected : 100
                    },
                    title: {
                    text: ' Temperatura de la Vivienda'
                    },
                    xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                    },
                    yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                    text: 'Temperature ºC',
                    margin: 80
                    }
                    },
                    series: [{
                    name: 'Temperature',
                    data: []
                    }]
                    });
            #seguridad
              section.clearfix
                .g1
                  h3 Vigilancia
                  fieldset.SignalField
                    button.buttonred(type='button', id='LED?', onclick='')
                      | Camara
                      p(style='font-size:230%; color:white;') &#x2776
                    button.buttonred(type='button', id='LED?', onclick='')
                      | Camara
                      p(style='font-size:230%; color:white;') &#x2777
                    button.buttonred(type='button', id='LED?', onclick='')
                      | Camara
                      p(style='font-size:230%; color:white;') &#x2778
                    button.buttonred(type='button', id='LED?', onclick="abrir(640,480,'on.png','Mi foto 1')")
                      | Camara
                      p(style='font-size:230%; color:white;') &#x2779
                .g1
                  h3 Disimular prescencia
                  fieldset.SignalField
                    button#noche.button(type='button', onclick='activar()') Activar
                    button#reset.button(type='button', onclick='reset()') Desactivar
                  fieldset.SignalField
                    p Noche - Luces encendidas:
                    p#sPatio
                    p#sCocina
                    p#sSala
                    p#sDormitorio
                    p#sLavado
                    p#sTv
                    p#sRadio
                    p Dia:
                    p#sdTv
                    p#sdRadio
                .break
        footer
          p
            | Copyright (c) 2017 Domotica seguridad & control
