doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/onoff.css')
    link(rel='stylesheet', href='/stylesheets/neon.css')
    link(rel='stylesheet', href='/stylesheets/teme.css')    
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flaticon.css')
    link(rel='shortcut icon', type='image/x-icon', href='/images/domo.ico')
    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/cliente.js')
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/html5shiv.js')
    script(src='/javascripts/amcharts.js')
    script(src='/javascripts/gauge.js')
    script(src='/javascripts/light.js')
    script(src='/javascripts/chart.js')
    script(src='/javascripts/highcharts.js')
    script(src='/javascripts/jquery.hashchange.min.js')
    script(src='/javascripts/jquery.easytabs.min.js')
  body
  block content
    